canvas {
    position: fixed;
    top: 0;
    left: 0;
	z-index: -1;
}
body { 
    background-color: transparent;
}
p{
	background-color:rgba(0, 100, 200, .15);
	color: white;
}
table {
    border-spacing: 5px;
	color: white;
	
}

th {/*table heading*/
    text-align: left;
}
table, th, td {
	background-color:rgba(0, 100, 200, .15);
    border: 1px solid black;
	padding: 7px;
    border-collapse: collapse;
}
